
/* Universal styles */
body{
  background-color:rgb(65,82,45);
  font-family: 'Montserrat', sans-serif;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#header{
  width:100%;
  text-align: center;
  margin-top: 50px;
 
}
img{
  height: 155px;
  width: 400px;
  text-align: center;
}

/* fonts */
p{
  font-family: 'Montserrat', sans-serif;

}
h1{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 78px;
  font-weight: 900;

}

h3{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
h4{
  font-family: 'Montserrat', sans-serif;

}
/* end Fonts */



/* End universal styles */



/* start nav styling */
nav{
    display:block;
    position: relative;
    background-color: rgb(188,205,90);
    padding:25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 900;
    
}

li{
  display: inline;
  text-align: center;
  padding: 5px 10px;
  margin: 22px;
  height: fit-content;
}

a:link{
  text-decoration: none;
}

/* end nav styling */



/* Hero image styling */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/heirlooms.jpg);
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 78px;
  margin: 25px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* End Hero Image Styling */




/* start recipe section */

#row {
  box-sizing: border-box;
  
}

/* start recipe pictures */
.column {
  float: left;
  width: 23.33%;
  padding: 56px;
  margin-bottom: 35px;
  height: 470px; 
}

.row{
  background-color: rgb(237,250,183);
  width: 1333px;
 
}

.row:after {
  content: "";
  display: table;
  clear: both;
  
}

.blog1{
  height: 500px;
  box-shadow: 10px 10px 5px rgb(84, 100, 53);
}
/* end  recipe picture styling */


/* text on recipes styling */
.text-block{
  position: relative;
  bottom: 299px;
  right: 15px;
  left: 116px;
  background-color: rgba(250, 242, 232, 0.781);
  color: rgb(65,82,45);
  text-align: center;
  width: 127px;
}

/* end recipe section */


/* recipe styling home page */
.home-recipe{
  background-color:rgb(237,250,183) ;
}
.featured{
  height: 320px;
border-radius: 50%;
box-shadow: 10px 10px 5px rgb(84, 100, 53);
}
.recipe-text{
  float: right;
  width: 500px;


  
}



/* end recipe styling */


/* start footer styling */

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.8rem;            /* Footer height */
  background-color: rgb(188,205,90);  

/* end footer styling */



/* start about me page styling */

.aboutmepage{
  background-color: antiquewhite;
}

.vidcontainer{
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.vid {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  margin-left: 33px;

}

/* end about me page styling */








/* Start recipes page styling */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.rec_grid{
  width: 100%;
  height: 100%;
}
.recipetxt{
  position: relative;
  overflow: hidden;
  background-color: bisque;
  
}

/* end recipes page styling */




/* Start Contact page styling */
.contactheader{
  font-size: 35px;
  text-align: center;
  color: bisque;
}
/* start contact form styling */
.container{
  width: fit-content;
}
form{
  width: 500px;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  background-color: rgb(188,205,90);
  padding: 20px;
  margin: 100px;
  height: 300px;
}