body{
    background-color:rgb(65,82,45);
}

/* fonts */
p{
  font-family: 'Montserrat', sans-serif;

}
h1{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 78px;
  font-weight: 900;
  text-align: ;
}

h3{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
h4{
  font-family: 'Montserrat', sans-serif;

}
/* end Fonts */


#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }

#header{
    width:100%;
    text-align: center;
    margin-top: 50px;
   
}
img{
    height: 355px;
    width: 355px;
    text-align: center;
}

/* start nav styling */
nav{
    display:block;
    position: relative;
    background-color: rgb(188,205,90);
    padding:25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 900;
    
}

li{
  display: inline;
  text-align: center;
  padding: 5px 10px;
  margin: 22px;
  height: fit-content;
}

a:link{
  text-decoration: none;
}

/* end nav styling */



/* Hero image styling */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url();
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 78px;
  margin: 25px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* End Hero Image Styling */




/* start recipe section */

#row {
  box-sizing: border-box;
  
}

/* start recipe pictures */
.column {
  float: left;
  width: 23.33%;
  padding: 60px;
  margin-bottom: 35px;
  height: 470px; 
}

.row{
  background-color: rgb(237,250,183);
 
}

.row:after {
  content: "";
  display: table;
  clear: both;
  
}

.blog1{
  height: 500px;
  box-shadow: 10px 10px 5px rgb(109, 109, 109);
}



/* text on recipes styling */
.text-block{
  position: relative;
  bottom: 295px;
  right: 15px;
  left: 116px;
  background-color: rgba(250, 242, 232, 0.781);
  color: rgb(65,82,45);
  text-align: center;
  width: 127px;
}

/* end recipe pictures */


/* about me styling home page */
.home-about{
  background-color:rgb(237,250,183) ;
}
.abtme{
  border-radius: 50%;
box-shadow: 10px 10px 5px rgb(141, 139, 139);
}

#abtme-text{
  background-color: brown;
  display: inline-block;
}


.ftr{
  text-align: right;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
background-color: rgb(188,205,90);
}

