body{
    background-color:rgb(250, 242, 232);
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }

#header{
    width:100%;
    text-align: center;
    margin-top: 50px;
   
}
img{
    height: 355px;
    width: 355px;
    text-align: center;
}

/* start nav styling */
nav{
    display:block;
    position: relative;
    background-color: rgb(188,205,90);
    padding:25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 900;
    
}

li{
  display: inline;
  text-align: center;
  padding: 5px 10px;
  margin: 22px;
  height: fit-content;
}

a:link{
  text-decoration: none;
}


/* end nav styling */

#row {
  box-sizing: border-box;
  
}

/* start recipe pictures */
.column {
  float: left;
  width: 23.33%;
  padding: 60px;
  margin-bottom: 35px;
  height: 300px; 
}

.row{
  background-color: rgb(237,250,183);
}

.row:after {
  content: "";
  display: table;
  clear: both;
  
}


/* text on recipes styling */
.text-block{
  position: relative;
  bottom: 235px;
  right: 15px;
  left: 116px;
  background-color: rgba(250, 242, 232, 0.781);
  color: rgb(65,82,45);
  text-align: center;
  width: 127px;
}

/* end recipe pictures */


/* fonts */
p{
  font-family: 'Montserrat', sans-serif;

}
h1{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 900;
  text-align: right;
}
h4{
  font-family: 'Montserrat', sans-serif;

}


/* about me styling home page */
.home-about{
  background-color:rgb(237,250,183) ;
}
.abtme{
  border-radius: 50%;

}
#abt-text{
  text-align: right;
}


#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
background-color: rgb(65,82,45);
}

